/* TYPOGRAPHY */

@font-face {
    font-family: triptych-grotesque;
    src: url('./Triptych-Grotesque.woff');
}

@font-face {
    font-family: triptych-italick;
    src: url('./Triptych-Italick.woff');
}

@font-face {
    font-family: triptych-roman;
    src: url('./Triptych-Roman.woff');
}