/* GLOBAL */
body {
  --main-color: #D62CFF;
  --dotted-border: 1px dashed black;
  --color-border: 2px solid var(--main-color);
  --body-text: 1.1rem;
  --columns: 325px 1fr;
  --rows: 280px 1fr;
  --margin: 0.75rem;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
	background-color: var(--main-color);
	color: white;
  }

:focus {
	outline: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
	list-style-type: none;
}

strong, b {
  font-weight: 500;
}

img {
  width: 100%;
}

p {
  font-size: var(--body-text);
}


/* LAYOUT */

body {
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
	margin-left: var(--margin);
}

.grid {
	display: grid;
	grid-template-columns: var(--columns) ;
	grid-template-rows: var(--rows);
}

nav {
	padding-top: 0.75rem;
	grid-column: 1;
	grid-row: 1;
	font-size: 1.8rem;
	display: inline-block;
	width: auto;	
  height: auto;	
}

nav .dotted {
	padding: 10px 20px 16px;
}

main {
	grid-column: 2;
	grid-row: 1 / span 2;
	height: 100vh;;
	overflow-y: auto;
	flex: 1;
	position: relative;
}

footer {
	z-index: 10;
	background-color: white;
	grid-column: 1/ span 2;
	grid-row: 2;
	display: grid;
	grid-template-columns: var(--columns);
	margin-right: var(--margin);;
	margin-top: 5px;
}

footer section {
	padding: 1rem;
}

footer > section:nth-child(1) {
  grid-column: 1 / 2;
  overflow-wrap: break-word;
}
footer > section:nth-child(2) {
	grid-column: 2 / 3
}

aside {
	padding-bottom: 0.75rem;
	grid-column: 1;
	grid-row: 2;
}

aside .dotted {
	position: relative;
	border-top: 0 !important;
	height: 100%;
}

.w100 { width: 100%; }
.w90 { width: 90%; }
.w80 { width: 80%; }
.w70 { width: 70%; }
.w60 { width: 60%; }
.w50 { width: 50%; }
.w40 { width: 40%; }
.w30 { width: 30%; }
.w20 { width: 20%; }
.w10 { width: 10%; }

.m-show {
	display: none;
}
/* STYLES */

.flt {float: left}
.flex {display: flex}

.thinpads {
	padding-left: 1rem;
	padding-right: 1rem;
}

.arrow {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: white
}

.arrow:hover {
	background-color: var(--main-color);
}

.dotted {
	border: var(--dotted-border);
}


/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 2.25rem;
	line-height: 1.35;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.35rem;	
}

h4 {
	font-size: 1.15rem;
}

.triptych-italick {
	font-family: triptych-italick;
	letter-spacing: -0.75px;
}

.title.triptych-italick {font-size: 2rem; padding-bottom: 1.25rem;}

.title.triptych-italick:hover {
	cursor: pointer;
}
nav .triptych.uppercase:hover, nav .active {
	font-family: triptych-grotesque;
	text-transform: uppercase;
	cursor: pointer;
}

.grotesque {
  font-family: triptych-grotesque;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.triptych {
	font-family: triptych-roman;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 0.2px;
}


/* COMPONENTS */


.button {
	padding: 0.2rem 0.85rem;
	border-radius: 0;
	font-size: 0.9rem;
	transform: translateY(-12px);
}

.button:hover {
	transform: translate(-7px,-14px);
	box-shadow: 3px 3px black;
}

.hidden {
	opacity: 0;
}

.thumb-image {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width:100%;
	height:100%;
}

.thumb-image img {
	width: auto;
	height: auto;
  max-height: 85%;
  max-width: 100%;
  padding: 15px;
}

.back-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
}

.back-button  img.slide-close {
  transform: rotate(90deg);
} 

/* Info */
.info {
	font-size: var(--body-text);
	transform: translateY(600px);
  transition: transform 800ms ease;
}

.slid-open {
	transform: translateY(0);
  transition: transform 800ms ease;
}

img.slide-close {
	width: min-content;
	height: min-content;
}

/*Email and Signup Form*/

form.subscribe-form {
	display: flex;
	width: 700px;
	margin: 2rem 0;
}

.field {
    margin-bottom: 0.8rem;
}

.field label {
	font-size: var(--body-text);
	margin-right: 0.85rem;
}

input#name, input#email {
	border: none;
	border-bottom: var(--color-border);
	flex: 1 1 auto;
}

.field:nth-of-type(3) {
	flex: 2;
}

.field {
	display: flex;
	flex-flow: row;
	margin-right: 1.25rem;
}

.honeypot {
	position: absolute;
	left: -9999px;
}
  
abbr[title] {
	text-decoration: none;
}

/* Readings */

.readings .upcoming-events {
  margin-top: var(--margin);;
}
.readings .upcoming-events {
  border-top: var(--dotted-border);
}

.readings h3.header, .event h3.header {
  padding: 0.5rem 1.5rem;
}

ul.calendar li {
  padding: 1rem 1.5rem;
}

ul.calendar li {
  border-top: var(--dotted-border);
  display: grid;
  grid-template-columns: 30% 4fr 1fr;
}

ul.calendar li:last-of-type {
  border-bottom: var(--dotted-border);
}

ul.calendar.upcoming li {
  grid-template-rows: 100px auto 80px;
}

ul.calendar h2 {
  padding-bottom: 1rem;
}

.upcoming h2 {
  grid-row: 1;
  grid-column: 1/3;
}

.upcoming h3, .event h1 {
  grid-column: 1/3;
}

.type {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

ul.calendar header {
	padding: 0.7rem;
}

.upcoming .event-line {
  grid-row: 2;
  grid-column: 2/3;
}

.featured {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upcoming .image {
  grid-row: 2;
  grid-column: 1;
  justify-self: end;
  align-self: center;
}

.upcoming .image img {
  margin: 0 30px;
}

.calendar li:hover img {
  background-color: var(--main-color);
}
.image img, .event-01 img {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  width: auto;
  border: 1px black dashed;
  padding: 0.25rem;
  margin: 15px 0; 
}

.event-line {
  font-size: 1.25rem;
  position: relative;
  grid-column: 2/4;
  grid-row: 1;
}

.event-line h3 {
  padding-bottom: 0.75rem;
}

.event-line h3:hover {
  font-family: triptych-italick;
}
.event-line .location {
  margin-bottom: 0.5rem;
  padding-top: 1.25rem;
  bottom: 0;
}

.event-line > div:nth-child(2) { flex: auto }

.past-events h2 {
  padding: 1.5rem;
}

.past-events time {
  display: block;
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
}

/* Event */
.event {
  padding: 1rem;
}

.event .content {
  display: flex;
  padding-top: 1rem;
}

.event .header {
  padding: 0.75rem 1rem 0;
}

.event .header h3 {
  padding-top: 0.5rem;
}

.event .header h2 {
  padding: 1.5rem 0 1rem;
}

.event .content h4 {
  border-top: var(--color-border);
  padding: 1rem 0;
}

.event .content > div:nth-child(2) {
  height: calc(100vh - 60px);
}

.event {
  padding: 0 1rem;
}

/* Related Sidebar */

.related li {
  margin-bottom: 1.5rem;
}

.related li:hover p, .related .book-title:hover {
  font-family: triptych-italick;
}

.related li a {
  font-size: var(--body-text);
}

.related date {
  color: var(--main-color);
  padding-bottom: 0.25rem;
  display: inline-block;
}


/* Annotation, s */
.annotations, .annotation .book-title {
  font-size: 1.8rem;
}

.annotations ul li:hover {
  background: #D62CFF;
  color: white;
}

.annotations li, .annotation .heading {
  padding: 1rem 1.25rem;
  position: relative;
}

.annotations ul li:not(:last-of-type), .annotation .heading {
  border-bottom: var(--dotted-border);
}

