/* GLOBAL */
body {
  --main-color: #D62CFF;
  --secondary-color: #FFAF00;
  --dotted-border: 1px dashed black;
  --color-border: 2px solid var(--main-color);
  --body-text: 1.1rem;
  --columns: 325px 1fr;
  --rows: 280px 1fr;
  --margin: 0.75rem;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
	background-color: var(--secondary-color);
	color: white;
  }

:focus {
	outline: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
	list-style-type: none;
}

strong, b {
  text-decoration: underline;
  font-weight: 100;
}

img {
  width: 100%;
}

p {
  font-size: var(--body-text);
}

i, em, .triptych-italick {
  font-family: "triptych-italick";
  letter-spacing: -0.5px;
  font-style: normal;
}

.triptych-italick {
  letter-spacing: -0.75px;
}

.grotesque {
  font-family: "triptych-grotesque";
}

button {
  background: none;
  border: none;
}


/* LAYOUT */

body {
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
	margin-left: var(--margin);
}

.grid {
	display: grid;
	grid-template-columns: var(--columns) ;
	grid-template-rows: var(--rows);
}

nav {
	padding-top: 0.75rem;
	grid-column: 1;
	grid-row: 1;
	font-size: 1.8rem;
	display: inline-block;
	width: auto;	
  height: auto;	
}

nav .dotted {
	padding: 10px 20px 16px;
}

main {
	grid-column: 2;
	grid-row: 1 / span 2;
	height: 100vh;;
	overflow-y: auto;
	flex: 1;
	position: relative;
}

body.overlay main, body.overlay aside, body.overlay nav {
  opacity: 0.1; 
  transition: opacity 800ms ease;
}

nav, main, aside {
  transition: opacity 800ms ease;
}

footer {
	grid-column: 1/ span 2;
	grid-row: 1/ span 2;
	display: grid;
  grid-template-columns: var(--columns);
  grid-template-rows: var(--rows);
}

footer > section:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1/ span 2;
  overflow-wrap: break-word;
}
footer > section:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1/ span 2;
}

aside {
	padding-bottom: 0.75rem;
	grid-column: 1;
	grid-row: 2;
}

aside .dotted {
	position: relative;
	border-top: 0 !important;
	height: 100%;
}

.w100 { width: 100%; }
.w90 { width: 90%; }
.w80 { width: 80%; }
.w75 { width: 75%; }
.w70 { width: 70%; }
.w60 { width: 60%; }
.w50 { width: 50%; }
.w40 { width: 40%; }
.w30 { width: 30%; }
.w25 { width: 25%; }
.w20 { width: 20%; }
.w10 { width: 10%; }

.m-show {
	display: none;
}
/* STYLES */

.flt {float: left}
.flex {display: flex}

.thinpads {
	padding-left: 1rem;
	padding-right: 1rem;
}

.arrow {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: white
}

.arrow:hover {
	background-color: var(--main-color);
}

.dotted {
	border: var(--dotted-border);
}

.tint:hover {
  color: var(--main-color);
}

.error {
  padding: 1rem;
}

.right {
  text-align: right;
}


/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 2.25rem;
	line-height: 1.35;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.35rem;	
}

h4 {
	font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.title.triptych-italick {font-size: 2rem; padding-bottom: 1.25rem;}

.title.triptych-italick:hover {
	cursor: pointer;
}
nav .triptych.uppercase:hover, nav .active {
	font-family: triptych-grotesque;
	text-transform: uppercase;
	cursor: pointer;
}

.grotesque {
  font-family: triptych-grotesque;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.triptych {
	font-family: triptych-roman;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 0.2px;
}

.highlight:hover {
  background-color: var(--main-color);
  color: white;
}

.content p, .details p, .reviews p {
  margin-bottom: 1.4rem;
}

.default-cursor {
  cursor: auto;
}

/* COMPONENTS */


.button {
	padding: 0.2rem 0.85rem;
	border-radius: 0;
	font-size: 0.9rem;
	transform: translateY(-12px);
}

.button:hover {
	transform: translate(-7px,-14px);
	box-shadow: 3px 3px black;
}

.hidden {
	opacity: 0;
}

.thumb-image {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width:100%;
	height:100%;
}

.thumb-image img {
	width: auto;
	height: auto;
  max-height: 85%;
  max-width: 100%;
  padding: 15px;
}

h3.header {
  padding: 0.5rem 1.5rem;
}

.back-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  padding: 0.2rem 0.5rem;
}

.back-button  img.slide-close {
  transform: rotate(90deg);
} 

.notice {
  display: flex;
  border-top: var(--dotted-border);
  border-bottom: var(--dotted-border);
}

.notice > div:last-of-type {
  border-left: var(--dotted-border);
 }

.notice > div {
  padding: 0.5rem 1.75rem 0.75rem;
}

.notice > div:first-of-type {
  flex-grow: 1;
}

/* Info */
.info {
	font-size: var(--body-text);
	transform: translateY(100vh);
  transition: transform 800ms ease;
  max-height: calc(100vh - var(--margin) * 2);
  z-index: 10;
	background-color: white;
  margin-top: var(--margin);
}

.info .menu-item {
  padding: 0.5rem 0.75rem;
  display: block;
  text-transform: uppercase;
}

.info .content {
  overflow-y: auto;
}

.info .active {
  background-color: var(--main-color);
  color: white; 
}

.info .content > div {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.info .content > div:not(:first-of-type) {
  border-top: var(--dotted-border);
}

.info .content h3 {
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.info .table {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto;

}
.info .table p:first-child {
  grid-column: 1/2
}

.slid-open {
	transform: translateY(0);
  transition: transform 800ms ease;
}

.info section {
  position: relative;
}

.info .slide-close {
  background: white;
}

img.slide-close {
  position: absolute;
  top: 10px;
  right: 10px;
	width: min-content;
	height: min-content;
}

@media screen and (min-width: 440px) {
  .info {
    border-right: none;
  }
  .info .menu {
    border-right: var(--dotted-border);
  }
  .info .menu-item {
    border-bottom: var(--dotted-border);
  }
}

/*Email and Signup Form*/

form.subscribe-form {
	display: flex;
	width: 700px;
	margin: 2rem 0;
}

.field {
    margin-bottom: 0.8rem;
}

.field label {
	font-size: var(--body-text);
	margin-right: 0.85rem;
}

input#name, input#email {
	border: none;
	border-bottom: var(--color-border);
	flex: 1 1 auto;
}

.field:nth-of-type(3) {
	flex: 2;
}

.field {
	display: flex;
	flex-flow: row;
	margin-right: 1.25rem;
}

.honeypot {
	position: absolute;
	left: -9999px;
}
  
abbr[title] {
	text-decoration: none;
}

/* Reading, s */

.subheader {
  font-size: 0.8rem;
  color: var(--main-color);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  display: inline-block;
}

.label {
  background-color: var(--main-color);
  color: white;
  padding: 0.3rem 0.6rem 0.25rem;
}

.image img {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  width: auto;
  border: 1px black dashed;
  padding: 0.25rem;
  margin: 15px 0; 
}


/* Annotation, s */
.annotations, .annotation .book-title {
  font-size: 1.8rem;
}

.annotations li, .annotation .heading {
  padding: 1rem 1.25rem;
  position: relative;
}

.annotations ul li:not(:last-of-type), .annotation .heading {
  border-bottom: var(--dotted-border);
}

.annotations .notice {
  padding: 0;
  margin-top: var(--margin);
}

.annotations .notice > div:first-of-type {
  padding-left: 1.25rem;
}

/* Bookmark, s */
h3.header {
  margin-top: var(--margin);
  border-bottom: var(--dotted-border);;
  border-top: var(--dotted-border);
}

ul.gallery {
  display: flex;
}

.gallery li {
  width: 25%;
  border-right: var(--dotted-border);
  border-bottom: var(--dotted-border);
  text-align: center;
}

.gallery li:nth-of-type(4n) {
  border-right: none;
}

.gallery img {
  width: 80%;
  padding: 1rem 0;
}

.gallery h6 {
  padding: 1rem 0;
}

.gallery .empty {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookmarks .content, .bookmark .content {
  padding: 1rem 1.5rem;
}

.photo-wrapper {
  position: relative;
  height: calc(18vw);
}

.photo-wrapper .photo {
  top: 0;
  left: 0;
  position: absolute;
}

.photo.reveal {
  opacity: 0;
  transition: opacity 0.15s ease-in-out 0s;
}

.photo.reveal:hover {
  opacity: 1; 
}


/* Review, s */
.reviews .notice {
  margin-top: var(--margin);
}

.reviews .notice > div:first-of-type {
  padding-top: 0.6rem;
}

.reviews .content {
  padding: 1.5rem 3rem 1rem 1.75rem;
}

/* Ellipses Loader, from Jon Gacnik */ 

.ellipses-loader {
  animation: ellipses-loader 2s linear infinite;
}

@keyframes ellipses-loader {
  0% { clip-path: inset(0 100% 0 0) }
  24.9% { clip-path: inset(0 100% 0 0) }
  25% { clip-path: inset(0 66% 0 0) }
  49.9% { clip-path: inset(0 66% 0 0) }
  50% { clip-path: inset(0 33% 0 0) }
  74.9% { clip-path: inset(0 33% 0 0) }
  75% { clip-path: inset(0 0 0 0) }
  100% { clip-path: inset(0 0 0 0) }
}

