/* GLOBAL */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::selection {
	background-color: #D62CFF;
	color: white;
  }

:focus {
	outline: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
	list-style-type: none;
}

strong, b {
  font-weight: 500;
}

img {
  width: 100%;
}


/* LAYOUT */

body {
	-webkit-text-size-adjust: 100%;
	overflow: hidden;
	margin-left: 0.75rem;
}

.grid {
	display: grid;
	grid-template-columns: 350px 1fr;
	grid-template-rows: 300px 1fr;
}

nav {
	padding-top: 0.75rem;
	grid-column: 1;
	grid-row: 1;
	font-size: 2rem;
	display: inline-block;
	width: auto;	
  height: auto;	
}

nav .dotted {
	padding: 10px 20px 16px;
}

main {
	grid-column: 2;
	grid-row: 1 / span 2;
	height: 100vh;;
	overflow-y: auto;
	flex: 1;
	position: relative;
}

footer {
	z-index: 10;
	background-color: white;
	grid-column: 1/ span 2;
	grid-row: 2;
	display: grid;
	grid-template-columns: 350px 1fr;
	margin-right: 0.75rem;
	margin-top: 5px;
}

footer section {
	padding: 1rem;
}

footer > section:nth-child(1) {
  grid-column: 1 / 2;
  overflow-wrap: break-word;
}
footer > section:nth-child(2) {
	grid-column: 2 / 3
}

aside {
	padding-bottom: 0.75rem;
	grid-column: 1;
	grid-row: 2;
}

aside .dotted {
	position: relative;
	border-top: 0 !important;
	height: 100%;
}

.w100 { width: 100%; }
.w90 { width: 90%; }
.w80 { width: 80%; }
.w70 { width: 70%; }
.w60 { width: 60%; }
.w50 { width: 50%; }
.w40 { width: 40%; }
.w30 { width: 30%; }
.w20 { width: 20%; }
.w10 { width: 10%; }

.m-show {
	display: none;
}
/* STYLES */

.flt {float: left}
.flex {display: flex}

.thinpads {
	padding-left: 1rem;
	padding-right: 1rem;
}

.arrow {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: white
}

.arrow:hover {
	background-color: #D62CFF;
}

.dotted {
	border: 1px dashed black;
}


/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 2.5rem;
	line-height: 1.35;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;	
}

h4 {
	font-size: 1.25rem;
}

.triptych-italick {
	font-family: triptych-italick;
	letter-spacing: -0.75px;
}

.title.triptych-italick {font-size: 2.15rem; padding-bottom: 1.25rem;}

.title.triptych-italick:hover {
	cursor: pointer;
}
nav .triptych.uppercase:hover, nav .active {
	font-family: triptych-grotesque;
	text-transform: uppercase;
	cursor: pointer;
}

.triptych {
	font-family: triptych-roman;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 0.2px;
}


/* COMPONENTS */


.button {
	padding: 0.2rem 0.85rem;
	border-radius: 0;
	font-size: 0.9rem;
	transform: translateY(-12px);
}

.button:hover {
	transform: translate(-7px,-14px);
	box-shadow: 3px 3px black;
}

.hidden {
	opacity: 0;
}

.thumb-image {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width:100%;
	height:100%;
}

.thumb-image img {
	width: auto;
	height: inherit;
	max-height: 85%;
}

/* Info */
.info {
	font-size: 1.2rem;
	transform: translateY(500px);
  transition: transform 800ms ease, opacity 800ms ease;
  opacity: 0;
}

.slid-open {
	transform: translateY(0);
  transition: transform 800ms ease, opacity 800ms ease;
  opacity: 1;
}

img.slide-close {
	width: min-content;
	height: min-content;
}

/*Email and Signup Form*/

form.subscribe-form {
	display: flex;
	width: 700px;
	margin: 2rem 0;
}

.field {
    margin-bottom: 0.8rem;
}

.field label {
	font-size: 1.2rem;
	margin-right: 0.85rem;
}

input#name, input#email {
	border: none;
	border-bottom: 2px solid #D62CFF;
	flex: 1 1 auto;
}

.field:nth-of-type(3) {
	flex: 2;
}

.field {
	display: flex;
	flex-flow: row;
	margin-right: 1.25rem;
}

.honeypot {
	position: absolute;
	left: -9999px;
}
  
abbr[title] {
	text-decoration: none;
}







