/* GLOBAL */

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:focus {
	outline: none;
}

body {
	-webkit-text-size-adjust: 100%;
	margin: 0.75rem;
}

.grid {
	display: grid;
	grid-template-columns: 320px 1fr;
	grid-template-rows: 370px 1fr;
	grid-gap: 0.75rem;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
	list-style-type: none;
}

h1 {
	font-weight: normal;
}

strong, b {
  font-weight: 500;
}

img {
  width: 100%;
}

nav {
	grid-column: 1;
	grid-row: 1;
	font-size: 2.5rem;
	display: inline-block;
	width: auto;	
    height: auto;		
	padding: 15px 20px;
}

nav div {
	padding-bottom: 10px;
}

main {
	grid-column: 2;
	grid-row: 1 / span 2;
	height: 97vh;
    overflow-y: auto;

  	-ms-overflow-style: none;  /* Internet Explorer 10+ */
  	scrollbar-width: none; /* Firefox */
	flex: 1;
	position: relative;
}

.arrow {
	height: 40px;
	width: 40px;
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: white
}
.arrow:hover {
	background-color: #D62CFF;
}


.dotted {
	border: 2px dotted black;
}

.triptych-italick {
	font-family: triptych-italick;
	letter-spacing: -0.75px;
}

.title.triptych-italick {font-size: 2.65rem; padding-bottom: 1rem;}

.title.triptych-italick:hover {
	cursor: pointer;
}
nav .triptych.uppercase:hover, nav a[aria-current="page"] {
	font-family: triptych-grotesque;
	text-transform: uppercase;
}

.triptych {
	font-family: triptych-roman;
}

.uppercase {
	text-transform: uppercase;
	letter-spacing: 0.2px;
}

.info {
	padding: 1rem;
	font-size: 1.5rem;
}

.button {
	padding: 0.2rem 0.85rem;
    border-radius: 0;
    font-size: 0.9rem;
    transform: translateY(-12px);
}

.button:hover {
	transform: translate(-7px,-14px);
    box-shadow: 3px 3px black;
}

/*Email and Signup Form*/

form.subscribe-form {
	display: flex;
    width: 700px;
    margin: 1rem;
}

.field {
    margin-bottom: 0.8rem;
}

.field label {
	font-size: 1.2rem;
	margin-right: 0.85rem;
}

input#name, input#email {
    border: none;
    border-bottom: 2px solid blue;
    flex: 1 1 auto;
}

.field:nth-of-type(3) {
    flex: 2;
}

.field {
    display: flex;
	flex-flow: row;
	margin-right: 1.25rem;
}







