@media screen and (max-width: 440px) {
  /* LAYOUT */
  body {
    min-height: 100vh;
    padding: 0.5rem;
    overflow: auto;
    box-sizing: border-box;
    position: relative;
    --margin: 0;
  }
      
  .grid, footer {
    display: flex;
    flex-direction: column;
  }

  main {
    height: auto;
    width: auto;
  }

  aside {
    display: none;
  }

  .w100, .w90, .w80, .w70, .w60, .w50, .w40, .w30, .w20, .w10, .w25, .w75 { width: 100%; }

  .m-col {
    flex-direction: column;
  }

  .thinpads {
    padding: 0;
  }

  .m-show {
    display: block;
  }

  .m-hide {
    display: none !important;
  }

  /* TYPOGRAPHY */
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h3.header {
    border-top: none;
    padding: 0.5rem 1rem;
  }

  /* NAV */
  nav {
    padding: 0;
    position: sticky;
    top: 7px;
    z-index: 1;
  }

  nav .dotted {
    padding: 8px 12px;
    background-color: white;
    display: flex;
    flex-direction: column-reverse;
  }

  nav .title.triptych-italick {
    font-size: 1.35rem;
    padding-bottom: 5px;
    max-width: 85vw;
  }

  .m-nav {
    max-height: 0;
    transition: all 300ms ease-in;
    transform: translateY(-200px);
    transform-origin: top;
  }

  .m-nav.show {
    max-height: 192px;
    transform: translateY(0);
    transition: all 400ms ease;
    padding-bottom: 10px;
  }

  .m-show img.slide-close {
    top: 1px;
    right: 1px;
    transition: transform 500ms ease; 
  }

  #nav_arrow {
    top: 0;
    right: 2px;
    position: absolute;
  }

  .rotate {
    transform-origin: center;
    transform: rotate(180deg);
    transition: transform 500ms ease; 
  }

  /* FOOTER */
  footer {
    margin: 0;
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .info {
    transform: translateX(-100%);
    position: absolute;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    left: 0;
  }

  .info .menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    position: sticky;
    z-index: 2;
    background: white;
  }

  .info .menu .menu-item:not(:nth-of-type(3n)) {
      border-right: 1px dashed black; 
  }

  .info .menu .menu-item.last {
    grid-column: 1/ span 3;
    border-right: none;
  }

  .info .menu .menu-item {
    border-bottom: var(--dotted-border);
  }

  .info .menu .menu-item h4 {
      font-size: 0.8rem;
  }

  .info .content {
    overflow-x: hidden;
  }

  .info .content > div {
    padding: 1rem;
  }

  .info.slid-open {
    transform: translateX(0);
  }

  #seventh .table p:first-child {
    margin-bottom: 0.25rem;
  }

  footer section {
    width: 100%;
  }

  footer form.subscribe-form {
    flex-direction: column;
    width: 100%;
  }

  #slide_close {
    top: 100px;
    right: 5px;
    width: 42px;
    height: 42px;
    position: fixed;  
  }

  .info .table {
    display: flex;
    flex-direction: column;
  }

  .info .slide-close {
    width: 35px;
    height: 35px;
  }

  .subscribe-form .button {
    margin-top: 1rem;
    padding: 0.5rem;
  }

  .subscribe-form .field {
    margin-right: 0;
  }

  /* Annotations */

  .annotations, .annotation {
    font-size: 1.2rem;
  }
  .annotations li, .annotation .heading, .annotation .details {
    padding: 0.75rem 0.5rem;
  }

  .annotations .notice {
    border-top: none;
  }

  .annotations .notice > div:first-of-type {
    padding-left: 0.75rem;
  }

  /* Bookmark */
  .bookmarks .content, .bookmark .content {
    padding: 1rem;
    flex-flow: column;
  }

  .gallery {
    flex-wrap: wrap;
  }

  .gallery li {
    width: 50%;
  }

  .gallery .photo-wrapper {
    height: calc(50vw);
  }

  .gallery li:nth-of-type(2n) {
    border-right: none;
  }

  /* Reviews */
  .reviews div {
    padding: 0.75rem;
  }

}

@media screen and (max-width: 360px) {
  nav .title.triptych-italick {
    font-size: 1.25rem;
  }

  h1 {
    font-size: 1.8rem;
  }
}