.biblio {
  padding: 1rem 3rem 1rem 1.75rem;
}
h1 {
  margin-bottom: 1rem;
}
ol {
  margin: 0.5rem 2rem;
}

ol li {
  padding-bottom: 0.75rem;
  font-size: 1.3rem;
}

.title {
  padding-bottom: 0.5rem;
}

.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.back-button  img.slide-close {
  transform: rotate(90deg);
}

@media screen and (max-width: 440px) {
  .biblio {
    padding: 0.75rem;
  }
  ol {
    margin: 0.5rem 0 0 2rem;
  }
  .back-button {
    display: none;
  }
  .biblio h1 {
    font-size: 1.75rem;
  }
}