.upcoming-events {
  border-top: 1px dashed black;
  margin-top: 0.75rem;
}

.events h4 {
	padding-bottom: 0.5rem;
}

.events h3.header {
  padding: 0.5rem 1.5rem;
}

ul.calendar li {
	border-top: 1px dashed black;
  padding: 1rem 1.5rem;
  display: grid;
  grid-template-columns: 30% 4fr 1fr;
}

ul.calendar li:last-of-type {
  border-bottom: 1px dashed black;
}

ul.calendar.upcoming li {
  grid-template-rows: 100px auto 80px;
}

ul.calendar h2 {
  padding-bottom: 1rem;
}

.upcoming h2 {
  grid-row: 1;
  grid-column: 1;
}

.upcoming h3 {
  grid-column: 1/3;
}

.type {
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

ul.calendar header {
	padding: 0.7rem;
}

.upcoming .event-line {
  grid-row: 2;
  grid-column: 2/3;
}

.featured {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event {
  grid-row: 2;
  grid-column: 1;
  justify-self: end;
  align-self: center;
}

.calendar li:hover img {
  background-color: var(--main-color);
}
.event img {
  max-width: 200px;
  max-height: 200px;
  height: auto;
  width: auto;
  border: 1px black dashed;
  padding: 0.25rem;
  margin: 15px 0; 
}

.upcoming .event img {
  margin: 0 30px;
}

.event-line {
  font-size: 1.25rem;
  position: relative;
  grid-column: 2/4;
  grid-row: 1;
}

.event-line h3 {
  padding-bottom: 0.75rem;
}

.event-line h3:hover {
  font-family: triptych-italick;
}
.event-line .location {
  margin-bottom: 0.5rem;
  padding-top: 1.25rem;
  bottom: 0;
}

.event-line > div:nth-child(2) { flex: auto }

.past-events h2 {
  padding: 1.5rem;
}

.past-events time {
  display: block;
  font-size: 1.25rem;
  padding-bottom: 0.25rem;
}

@media screen and (max-width: 440px) {
  .events {
    padding:0;
  }
  .events header, .past-events h2, .events ul.calendar li {
    padding: 0.75rem;
  }

  .events ul.calendar li {
    display: flex;
    flex-direction: column;
  }

  .past-events time {
    font-size: 1.5rem;
    padding-bottom: 0.75rem;
  }

  .past-events h2 {
    background-color: black;
    color: white;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'triptych-grotesque';
    padding-left: 1rem;
  }
  .events h3.header {
    padding: 0.5rem;
  }

  .event {
    align-self: flex-start;
  }

  .upcoming .event img {
    margin: 15px 0;
    max-width: 100%;
    max-height: 100vh;
  }
}