
.home {
  display: flex;
  flex-direction: column;
}

.home > div:first-of-type {
  padding: 1.5rem 3rem 1rem 1.75rem;
  flex-grow: 1;
}

.underline {
  text-decoration: underline;
}

/* .underline:hover {
  background-color: var(--main-color);
  color: white;
} */

.notice {
  margin-bottom: var(--margin);
}

@media screen and (max-width: 440px) {
  .home {
    padding: 1rem;
  }
}
