.reading {
  padding: 0 1rem;
}

.header {
  position: relative;
}

.reading .content {
  display: flex;
}

.reading .header {
  padding: 0.75rem 1rem 0;
}

.header h4 {
  padding-top: 0.5rem;
}

.header h2 {
  padding: 3rem 0 0;
}

.content h4 {
  border-top: var(--color-border);
  padding: 0.5rem 0;
}

.content ul.references li {
  font-size: var(--body-text);
  padding-bottom: 0.25rem;
}

.content ul li.heading {
  padding-bottom: 0.75rem;
}

.cti {
  position: fixed;
  bottom: 10px;
  right: 15px;
}

.details ul {
  display: flex;
  flex-direction: column;
}
.details li {
  padding: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.8rem;
  display: flex;
}

.details li:not(:last-of-type) {
  border-bottom: var(--dotted-border);
}

.details li > * {
  width: 100%;
}

.details .label {
  letter-spacing: 1px;
  padding: 0.5rem 0.75rem;
}

.details li span {
  padding: 0.25rem 0.75rem;
}

.details li:last-of-type {
  justify-content: center;
}

.details .oval {
  border: var(--dotted-border);
  padding: 15px 20px;
  text-align: center;
  border-radius: 65%;
  cursor: alias;
}

.image {
  display: flex;
  flex-flow: wrap;
}

.image figure {
  padding-right: var(--margin);
}

.reading-nav {
  bottom: 0;
  right: 15px;
  position: absolute;
}

.reading-nav > div:not(:last-of-type) {
  border-right: var(--dotted-border);
}

.back-button {
  position: unset; 
}

.next-button, .prev-button {
  width: 26px;
  height: 24px;
  position: relative;
  display: block;
}

.inner-arrow {
  border-right: 1px solid;
  border-bottom: 1px solid;
  width: 8px;
  height: 8px;
  position: absolute;
}

.prev-button .inner-arrow {
  top: 8px;
  right: 6px;
  transform: rotate(135deg);
} 

.next-button .inner-arrow {
  top: 8px;
  right: 10px;
  transform: rotate(315deg);
} 

@media screen and (max-width: 440px) {
  .reading {
    order: 2;
    padding: 0;
  }

  .reading .header, .content .w70 {
    padding: 0.75rem;
  }

  .reading aside {
    display: block;
    order: 1;
  }

  aside .dotted {
    height: 500px;
  }

  .header h2 {
    padding-top: 2rem;
  }
  
  .reading .content {
    flex-direction: column;
    padding-bottom: 2rem;
  }

  .content h4 {
    margin-top: 1rem;
  }

  .cti {
    position: absolute;
    left: 10px;
  }

  .reading .w30 {
    padding: 0.75rem;
  }

  .reading .details {
    margin-bottom: 0.5rem;
  }
}

@media screen and (max-width: 440px) {
  aside {
    display: block;
  }

  .reading-nav {
    top: 15px;
    bottom: unset;
  }
}

@media screen and (min-width: 440px) {
  .reading .back-button {
    top: 10px;
    right: 0;
    bottom: unset; 
  }

  .reading .content > div:nth-child(2) {
    height: calc(100vh - 60px);
  }

  .reading .content {
    padding-top: 1rem;
  }

  .reading .content .w30 {
    position: relative;
  }
}
