.reading {
  position: relative;
}

.panel {
  padding: 1.5rem 1rem;
}

.author {
	padding-top: 1rem;
}

.heading {
  margin-bottom: 1.5rem;
}

.detail-body {
  padding-top: 1rem;
}

.detail-body h4 {
  padding-bottom: 1rem;
  border-top: var(--color-border);
  padding-top: 1rem;
}

.next-button, .prev-button {
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  height: 35px;
  margin: 0.75rem;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

@media screen and (max-width: 440px) {
  .reading {
    order: 2;
    padding: 0 1rem;
  }

  .panel {
    padding: 1.5rem 0;
  }  

  .next-button, .prev-button {
    margin: 0;
  }

  aside {
    display: block;
    order: 1;
  }

  aside .dotted {
    height: 500px;
  }
}