.reading {
  padding: 0 1rem;
}

.header {
  position: relative;
}

.content {
  display: flex;
}

.header {
  padding: 0.75rem 1rem 0;
}

.header h4 {
  padding-top: 0.5rem;
}

.header h2 {
  padding: 3rem 0 0;
}

.content h4 {
  border-top: var(--color-border);
  padding: 1rem 0;
}

.back-button {
  bottom: 0;
  right: 15px;
}

.cti {
  position: fixed;
  bottom: 10px;
  right: 15px;
}

.details ul {
  display: flex;
  flex-direction: column;
}
.details li {
  padding: 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.8rem;
  display: flex;
}

.details li:not(:last-of-type) {
  border-bottom: var(--dotted-border);
}

.details li > * {
  width: 100%;
}

.details .label {
  letter-spacing: 1px;
  padding: 0.5rem 0.75rem;
}

.details li span {
  padding: 0.25rem 0.75rem;
}

.details li:last-of-type {
  justify-content: center;
}

.details .oval {
  border: var(--dotted-border);
  padding: 15px 20px;
  text-align: center;
  border-radius: 65%;
  cursor: alias;
}

@media screen and (max-width: 440px) {
  .header {
    padding: 0.25rem 0 1rem;
  }

  .header h2 {
    padding-top: 2rem;
  }

  .back-button {
    top: 10px;
    right: -15px;
    bottom: unset; 
  }
  
  .content {
    flex-direction: column-reverse;
    padding-bottom: 2rem;
  }

  .content h4 {
    margin-top: 1rem;
  }

  .cti {
    position: absolute;
    left: 15px;
  }
}

@media screen and (min-width: 440px) {
  .reading .content > div:nth-child(2) {
    height: calc(100vh - 60px);
  }

  .reading .content {
    padding-top: 1rem;
  }

  .reading .content .w30 {
    position: relative;
  }
}