.reading {
  position: relative;
}

.panel {
  padding: 1.5rem 1rem;
}

.author {
	padding-top: 1rem;
}

.heading {
  margin-bottom: 2rem;
}

.detail-body {
  padding-top: 1rem;
}

.detail-body h4 {
  padding-bottom: 1rem;
  border-bottom: 2px solid #D62CFF;
  margin-bottom: 1rem;
}

.next-button, .prev-button {
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  height: 35px;
  margin: 0.75rem;
}

.prev-button {
  left: 0;
}

.next-button {
  right: 0;
}

@media screen and (max-width: 440px) {
  .panel {
    padding: 1.5rem 0;
  }  

  .next-button, .prev-button {
    margin: 0;
  }
}