
/* FOR ARTICLES */
.article {
  --header-pdg: 1.7rem; 
  --paragraph-pdg: 2rem; 
  --article-margin: 25%;
  --small-text: 1rem;
}

.article-header, .article-body {
  display: grid;
  grid-template-columns: 1fr var(--article-margin);
  grid-template-rows: auto;
  padding: var(--content-padding);
}

.article-header {
  padding-bottom: var(--header-pdg);
  grid-column: 1 / 3;
  border-bottom: var(--dotted-border);
  padding: 1.5rem 1.75rem;
}

.article-header h1 {
  padding: var(--paragraph-pdg) 0;
  font-size: 3.4rem;
}

.article-header > div:first-of-type {
  margin-right: var(--header-pdg);
}

.article .content .subtitle {
  letter-spacing: 0.5px;
  font-size: var(--body-text);
  opacity: 0.6;
}


.article .small {
  font-size: var(--small-text);
}

.featured-image img {
  border: var(--dotted-border); 
  padding: var(--img-pdg);
  max-height: 300px;
  width:auto;
  float: right;
}

.article h4 { 
  margin-bottom: var(--header-pdg);
  font-size: 2rem;
}
.article .content p { 
  margin-bottom: var(--paragraph-pdg);
  font-size: 1.3rem;
  line-height: 1.3;
}

figcaption {
  opacity: 0.5;
  padding-top: var(--margin);
  line-height: 1.4;
  font-size: var(--small-text);
}

.bio, .endnotes {
  margin: var(--paragraph-pdg) 0;
}

.endnotes {
  margin-top: 8rem;
}

.article .content .bio p, .article .content .bio p {
  font-size: var(--small-text);
}

.endnotes h6, .bio h6 {
  padding-bottom: 0.75rem;
}

.endnotes ol {
  margin-left: 1.2rem;
  line-height: 1.3;
}

/* BLOCKS */

.article-body > * {
  grid-column: 1 / 2; 
}

.article .content .block-type-heading {
  padding-top: var(--paragraph-pdg);
}

.article .content .block-type-heading:not(:first-of-type) {
  padding-top: 6rem;
}

.article .content a:hover {
  border-bottom: 2px solid var(--main-color);
}

.article .block-type-list .double {
  columns: 2;
}

.article .block-type-list p {
  margin-bottom: 0.4rem;
}


.article-body > .block-type-gallery {
  grid-column: 1 / 3;
}


.block-type-gallery {
  margin: 6rem 0;
}

.block-type-image figure {
  margin: 4rem 0;
}

.block-type-image figure.top { margin-bottom: 0; }
.block-type-image figure.bottom { margin-top: 1rem; }

.block-type-gallery .flex {
  width: 100%;
  align-items: center;
}

.block-type-gallery .flex li {
  width: 50%;
}

.block-type-gallery .flex li:not(:last-of-type) {
  margin-right: 0.7rem;
}